<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spielprotokoll</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gog/admin/admin_logs.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='gog/images/GoG-Logo.ico') }}">
    <script>
        function goToDashboard() {
            window.location.href = "{{ url_for('admin.dashboard') }}";
        }
    </script>
</head>
<body>
    <div class="logs-container">
        <h1>Spielprotokoll</h1>
        <div class="table-responsive">
            <table class="logs-table">
                <thead>
                    <tr>
                        <th>Benutzer ID</th>
                        <th>Team Name</th>
                        <th>Team ID</th>
                        <th>Spiel</th>
                        <th>Punkte</th>
                        <th>Zeitstempel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.user.username }}</td>
                        <td>{{ log.team.team_name }}</td>
                        <td>{{ log.team_id }}</td>
                        <td>{{ log.game.name }}</td>
                        <td>{{ log.points }}</td>
                        <td>{{ log.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="back-button" onclick="goToDashboard()">Zurück zum Dashboard</button>
    </div>
</body>
</html>
