{% extends './base.html' %}

{% block title %}
Admin-Dashboard for TdW
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin_dashboard.css') }}">
</head>
<body>

    <h1>Admin Dashboard</h1>

    <!-- Upload-Bereich -->
    <div class="container">
        <h2>Datei hochladen</h2>
        <div class="upload-wrapper">
            <label class="upload-container">
                Datei hier ablegen oder klicken zum Hochladen
                <input type="file" class="file-input">
            </label>
        </div>
    </div>

    <!-- Switch Button für Auswahlprozess -->
    <div class="container">
        <h2>Auswahlprozess aktivieren/deaktivieren</h2>
        <div class="switch-container">
            <span class="switch-label">Auswahl aktiv:</span>
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>

    <!-- CSV Datei erstellen -->
    <div class="container">
        <h2>CSV-Datei erstellen</h2>
        <button class="button">CSV-Datei erstellen</button>
    </div>

</body>

{% endblock %}