<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon.svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <style>
        @font-face {
            font-family: 'Futura-PT_ExtraBold';
            src: url('fonts/Futura-PT_ExtraBold.ttf') format('truetype');
        }
        h1 {
            font-family: 'Futura-PT_ExtraBold', sans-serif !important;
            font-weight: 900;
        }
    </style>
</head>

<body>

  <div class="content-wrapper">
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>

  <div class="student-footer">
      <p>Diese Website wurde komplett von Schülern der Webteam AG aufgebaut und wird durch Schüler der AG verwaltet.</p>
      <div class="info-container">
          <div class="info-icon">i</div>
          <div class="info-popover">
              <strong>Erstellt von:</strong>
              <ul style="text-align: left; margin-top: 5px; padding-left: 20px; margin-bottom: 0;">
                  <li>Michael Vorogushyn</li>
                  <li>Nicolas Evdokimov</li>
                  <li>Linus Busch</li>
                  <li>Philipp Kretschmer</li>
                  <li>Samuel Schlusche</li>
              </ul>
              <strong>Unterstützt von:</strong>
              <ul style="text-align: left; margin-top: 5px; padding-left: 20px; margin-bottom: 0;">
                  <li>Herrn Debray</li>
              </ul>
          </div>
      </div>
  </div>

</body>
</html>