{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<div class="admin-panel">
    <a href="/admin_login">Admin</a>
</div>

<form method="post" class="login-container">
    <h1>Willkommen zurück!</h1>
    <p>Bitte geben Sie Ihren Login-Code ein, um fortzufahren.</p>
    <select name="event" id="event-selector">
        <option value="tdw">TdW</option>
        <option value="sms" disabled>SmS</option>
        <!-- enable this option when the SmS module is available -->
    </select>
    <input type="password" name="logincode" id="logincode" placeholder="Login-Code">
    <input type="submit" value="Login" class="submit">
</form>


{% endblock %}