{% extends './base.html' %}

{% block title %}
Home for GoG
{% endblock %}

{% block content %}

<header>
    <h1>GAME OF GRAPES</h1>
    <h2>Dashboard</h2>
</header>

<main>
    
</main>

<style>
    header {
        background: #560d4f;
        color: white;
        text-align: center;
        padding: 0.5%;
        margin-top: 1.5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    h1, h2 {
        margin: 0;
        padding: 1%;
    }

    

    button {
        text-decoration: none;
        color: black;
    }
</style>

{% endblock %}