{% extends './base.html' %}

{% block title %}
Login for GoG
{% endblock %}

{% block content %}

<header>
    <h1>GAME OF GRAPES</h1>
    <h2>Login</h2>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gog/gog_login.css') }}">

</header>

<form action="{{ url_for('gog.login') }}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login" id="submit">
</form>


<body>

<div class="login-container">
    <h1>Willkommen zurück!</h1>
    <p>Bitte geben Sie Ihren Login-Code ein, um fortzufahren.</p>
    <input type="password" id="loginCode" placeholder="Login-Code">
    <button onclick="checkLogin()">Anmelden</button>
    <p id="errorMessage" class="error-message"></p>
</div>

<script>
    function checkLogin() {
        const correctCode = "123456"; //Login-Code anpassen
        const enteredCode = document.getElementById("loginCode").value;
        const errorMessage = document.getElementById("errorMessage");

        if (enteredCode === correctCode) {
            window.location.href = "gog_dashboard"; // Zielseite nach erfolgreichem Login
        } else {
            errorMessage.textContent = "Falscher Code! Bitte versuchen Sie es erneut.";
        }
    }
</script>

</body>

{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}

{% endblock %}