{% extends './base.html' %}

{% block title %}
Home for GoG
{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gog/gog_dashboard.css') }}">
    <h1>GAME OF GRAPES</h1>
    <h2>Dashboard</h2>
    
</header>

<div class="dashboard">
    <h1>GAME OF GRAPES</h1>
    <h2>Dashboard</h2>
    <a href="/ranking" class="button">Ranking</a>
    <a href="/logs" class="button">Game Logs</a>
    <a href="/teammanagement" class="button">Team Management</a>
    <a href="/setup" class="button">Setup</a>
</div>



{% endblock %}