{% extends './base.html' %}

{% block title %}
Ranking for GoG
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gog/gog_ranking.css') }}">
</head>

<body>

<div class="ranking-container">
    <div class="table-container" style="margin-top: 40px;">
        <button class="back-button" onclick="goToDashboard()">Zurück</button>
        <h1 style="margin-top: 0;">Game of Grapes</h1>
        <h2 style="margin-bottom: 20px;">Ranking</h2>
        <h3>Klassenstufe 7</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Klasse</th>
                    <th>Punkte</th>
                    <th>Platz</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Max Mustermann</td>
                    <td>7A</td>
                    <td>1500</td>
                    <td>1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<script>
    function goToDashboard() {
            window.location.href = "/dashboard";
    }
</script>

{% endblock %}
