<!--Das hier ist die names zuteilung-->



{% extends './base.html' %}

{% block title %}
Setup for GoG
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gog/gog_setup.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='gog/images/GoG-Logo.ico') }}">
</head>

<body>

    <h1>Team Setup</h1>

    <div class="container">
        <button class="back-button" onclick="goToDashboard()">Zurück</button>
        <h2>Teamerstellung</h2>
        <label for="teamName">Teamname:</label>
        <input type="text" id="teamName" class="input-field" placeholder="Team eingeben...">

        <label for="teamClass">Klasse:</label>
        <input type="text" id="teamClass" class="input-field" placeholder="Klasse eingeben...">

        <div class="button-container">
            <button>Team erstellen</button>
        </div>
    </div>

    <script>
        function goToDashboard() {
            window.location.href = "/dashboard";
        }
    </script>

</body>

{% endblock %}
