{% extends './base.html' %}

{% block title %}
Team Management
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gog/gog_teamManagement.css') }}">
</head>

<body>

    <h1>Team Management</h1>

    <div class="container">
        <button class="back-button" onclick="goToDashboard()">Zurück</button>
        <h2>Punktevergabe</h2>
        <label for="teamSelect">Team:</label>
        <select id="teamSelect" class="dropdown">
            <option>Wähle ein Team</option>
        </select>

        <label for="gameName">Spiel:</label>
        <select id="gameName" class="dropdown">
            <option value="Fußball">Fußball</option>
            <option value="Basketball">Basketball</option>
            <option value="Tennis">Tennis</option>
        </select>

        <label for="points">Punkte:</label>
        <input type="number" id="points" class="input-field" placeholder="Punkte vergeben..." min="0">

        <button>Punkte zuweisen</button>
    </div>

    <div class="container">
        <h2>Punkte aktualisieren</h2>
        <label for="editTeam">Team:</label>
        <select id="editTeam" class="dropdown">
            <option>Wähle ein Team</option>
        </select>

        <label for="editGame">Spiel:</label>
        <select id="editGame" class="dropdown">
            <option value="Fußball">Fußball</option>
            <option value="Basketball">Basketball</option>
            <option value="Tennis">Tennis</option>
        </select>

        <label for="editPoints">Neue Punktzahl:</label>
        <input type="number" id="editPoints" class="input-field" placeholder="Neue Punkte..." min="0">

        <button>Punkte aktualisieren</button>
    </div>

    <script>
        function goToDashboard() {
            window.location.href = "/dashboard";
        }
    </script>

</body>

{% endblock %}
